#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#DH_VERBOSE = 1

DPKG_EXPORT_BUILDFLAGS = 1
include /usr/share/dpkg/default.mk


export PYBUILD_NAME = astropi

%:
	dh $@ --with python2,python3 --buildsystem=pybuild
